.story{
    width: 800px;
	
    height: 500px;
    margin: 0 auto;
}
.story img{
    width: 800px;
	
    position: relative;
    top: -42px;
}
.prebtn{
    position: relative;	
    z-index: 2;
    top: 260px;
    font-size: xx-large;
    float: left;
    background-color: transparent;
    border: 0;
}
.nextbtn{
    position: relative;	
    z-index: 2;
    top: 260px;
    float: right;
    font-size:xx-large
;
    background-color: transparent;
    border: 0;
}    
.pre{
}
.next{
}

.selection{
    background-color: black;	
}

.selection img{
    opacity: 0.4;	
    position: relative;
    top: -125px;
}
.selection button{
    position: relative;	
    top: 300px;
    width: 300px;
    height: 32px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    z-index: 3;
}
.selectdiv{
	width: 300px;
	margin:0 auto;
}

#selection10 img{

}

#selection10 button{
    height: 53px;
	
}
#selection21 img{

}

#selection21 button{
    height: 53px;
	
}
#selection17 img{
    top: -290px;

}

#selection17 button{
    top: 164px;
	
}
#goodEnding img{
    top: 0px;	
}
#badEnding img{
    top: 0px;	
}
#to1{
	position: relative;
	width: 186px;
	top: -241px;
	height: 29px;
	left: 300px;
	background-color: transparent;
	border: 0;
}
#user_info{
    height: 21px;
	
    width: 800px;
    margin: 0 auto;
}
#user_info span{
    float: right;	
    margin-right: 15px;
}
#story_wrapper{
    position: relative;
	
    top: 50px;
}
#show{
    color: white;
	
    position: relative;
    top: 119px;
    height: 20px;
}