.story{
    width: 800px;
	
    margin: 0 auto;
}
.story img{
    width: 800px;
	
}
.prebtn{
    position: relative;	
    z-index: 2;
    top: 260px;
    font-size: xx-large;
    float: left;
    background-color: transparent;
    border: 0;
}
.nextbtn{
    position: relative;	
    z-index: 2;
    top: 260px;
    float: right;
    font-size:xx-large
;
    background-color: transparent;
    border: 0;
}    
.pre{
}
.next{
}