#login {
	display : inline-block;
}

#signup {
	display : inline-block;
}

#logout {
	background : transparent;
	border : 0;
	float : right;
}

#userid_id {
	font-weight : 700;
	color : chocolate;
/* 	font-size : 2em; */
	position : relative;
	top : -3px;
}


